style
  include ../node_modules/bootstrap/dist/css/bootstrap.css
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
script
  include ../node_modules/jquery/dist/jquery.js
script
  include ../public/javascript/helper.js

